@import './theme-variables.scss';
@import './style-variables.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family: $content-font-family;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.layout {
  @include themify($themes) {
    background: themed('headerFooterBackground');
    color: themed('textColor');
  }
  transition: all .5s;
  display: inline-block;
  height: auto;
}


.home-link-title {
  padding: ($size-input-grid-horizontal * 3) $size-input-grid-vertical;
}

.home-link-list li {
  padding-bottom: $size-padding-1x;
  cursor: pointer;
  color: $color-link-text;
}